.info {
    /* width: 40%; */
    /* width: 100%; */
    max-width: 500px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.horizontal {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 10px 20px;
}
.about {
    padding: 10px 20px 25px 20px;
}

/* about me */
.socials {
    display: flex;
    align-items: center;
}
.socials img {
    width: 40px;
}
.loc {
    font-size: smaller;
    color: rgb(79, 79, 79);
}
.name {
    font-size:xx-large;
}


/* tech stack */

.info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    flex-wrap: wrap;
}
.info a:link {
    color: black;
}
.info a:visited {
    color: black;
}

.info img {
    width: 2rem;
    padding: 5px;
}

/* experience */
.project {
    display: flex;
    padding: 5px;
}


.circle {
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(135, 82, 181); 
    border: 2px solid #000;
}

.project-title {
    padding-left: 10px;
}