.information {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
.contact {
    padding: 10px 50px;
}
.information a {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.information img {
    width: 50px;
}

