.favorites {
    background-color: white;
}

div {
    color: black;
}
.search-form {
    display: flex;
    justify-content: center;
}

.responsive {
    display: flex;
    justify-content: center;
}


.events-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.favorites-empty {
    color: black;
}