/* styles.css */

.navbar {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-small {
    width: 100%;
    height: 50px;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;

}
